doctype html
html
	include header
	body#body( data-bind = " css: { 'bodyCoNETBlue': bodyBlue } ")
		script.
			if ( typeof module === 'object') { window.module = module; module = undefined; }
		block jumbotron
		block jumbotron1
		block jumbotron2
		script( src='/scripts/jquery.min.js', type="text/javascript" )
		script( src='/scripts/jcanvas.min.js', type="text/javascript" )
		script( src='/scripts/snap.svg.min.js', type="text/javascript" )
		script( src='/scripts/semantic.min.js', type="text/javascript" )
		script( src='/scripts/jquery.cookie.js', type="text/javascript" )
		script( src='/scripts/socket.io.js', type="text/javascript" )
		script( src='/scripts/gsap.min.js', type="text/javascript" )
		script( src='/scripts/SplitText.min.js', type="text/javascript" )
		script( src='/scripts/MorphSVGPlugin3.min.js', type="text/javascript" )
		script( src='/scripts/jimp.min.js', type="text/javascript" )
		script( src='/scripts/async.js', type="text/javascript" )
		script( src='/scripts/knockout.js', type="text/javascript" )
		script( src='/scripts/knockout.animate.js', type="text/javascript" )
		script( src='/scripts/Cleave.js', type="text/javascript" )
		script( src='/scripts/mHtml2Html.js', type="text/javascript" )
		script( src='/scripts/siteShare.js', type="text/javascript" )
		script( src='/scripts/connectInformationMessage.js', type="text/javascript" )
		script( src='/scripts/keyPairGenerateForm.js', type="text/javascript" )
		script( src='/scripts/keyPairPassword.js', type="text/javascript" )
		script( src='/scripts/CoNETConnect.js', type="text/javascript" )
		script( src='/scripts/imapForm.js', type="text/javascript" )
		script( src='/scripts/appsManager.js', type="text/javascript" )
		script( src='/scripts/appCosearch.js', type="text/javascript" )
		script( src='/scripts/sharedWorkerManager.js', type="text/javascript" )
		script( src='/scripts/showHTMLComplete.js', type="text/javascript" )
		script( src='/scripts/mp4box.all.js', type="text/javascript" )
		script( src='/scripts/recorder.js' type="text/javascript" )
		script( src="/scripts/videoPlayer.js", type="text/javascript" )
		script( src="/scripts/mediaViewer.js", type="text/javascript" )
		script( src='/scripts/genSpalding.js', type="text/javascript" )
		script( src='/scripts/uploader.js', type="text/javascript" )
		script( src='/scripts/fileStorage.js', type="text/javascript" )
		script( src="/scripts/downloader.js", type="text/javascript" )
		script( src="/scripts/assembler.js", type="text/javascript" )
		script( src='/scripts/databaseWorker.js', type="text/javascript" )
		script( src='/scripts/storageHelper.js', type="text/javascript" )
		script( src='/scripts/showWebPageClass.js', type="text/javascript" )
		
		script( src="/scripts/mute.js", type="text/javascript" )
		script( src='/scripts/workerManager.js', type="text/javascript" )
		script( src='/scripts/twitter.js', type="text/javascript" )
		script( src='/scripts/sharedAppClass.js',type="text/javascript" )
		script( src='/scripts/DownloadQueue.js',type="text/javascript" )
		script( src='/scripts/forCanada.js', type="text/javascript" ) 
		script( src='/scripts/forTwitter.js',type="text/javascript" )
		script( src='/scripts/forYoutube.js',type="text/javascript" )
		script( src='/scripts/daggr.js', type="text/javascript" )
		script( src='/scripts/home.js', type="text/javascript" )
		
		script.
			if ( typeof jQuery == 'undefined' || !jQuery.support.noCloneChecked || !jQuery.support.clearCloneStyle || !jQuery.support.optSelected || !jQuery.support.radioValue || !window.indexedDB ) {
				window.location.href = "/browserNotSupport";
			}

		block ScriptBlock