#daggr
	<!-- ko with: appScript -->
	<!-- ko if: ! currentUser () -->
	.selectCurrentUser
		.ui.top.fixed.menu.borderless
			.input.ui.grid( style = " padding-left: 2rem; padding-right: 5rem; padding-top: 1rem; padding-bottom: 1rem; width: 100%;" )
				.six.wide.column
					.ui.label.blue.big( data-bind = "text: $root.keyPair().publicKeyID")
				.ten.wide.column
					.ui.right.fluid.icon.input.big
						
						<!-- ko if: ! adduser() -->
						i.icon.link.plus.circle.circular.olive( data-bind = "click: () => { adduser( true ); }" style = "top: .21em; left: 0.5rem;")
						i.icon.link.search.circular.blue( style = "top: .21em;")
						<!-- /ko -->
						input( type = "text" data-bind = "value: searchInputText, style: { 'border-radius': !adduser() ? '500rem': '' }" style = "color: rgba ( 0,0,0,0.5 );padding-left: 4rem;" )
						<!-- ko if: adduser() -->
						i.icon.link.close.circle.circular.grey( data-bind = "click: () => { adduser( false ); }" style = "top: .21em; left: 0.5rem;")
						i.icon.link.play.circular.olive( data-bind = " click: addUser" style = "top: .21em;")
						<!-- /ko -->
					
		.allUser( style = "padding-top: 7rem; width: 95%; position: relative; margin: auto;" )
			.ui.divided.items( data-bind = "foreach: userList "  style = "margin: 0px auto!important; max-width: 40rem;" )
				.item
					.ui.tiny.circular.image
						img( data-bind = " attr: { src : img }")
					.content
						a.header( data-bind = "text: title, click: () => { $parent.selechuser ($index()) }")
						.meta
							span( data-bind = "text: keyID ")

	<!-- /ko -->
	
	<!-- ko if: currentUser -->
	.currentMessage
		.ui.top.fixed.menu.borderless
			<!-- ko with: currentUser -->
			.item( style = "width: 100%;" )
				img.ui.tiny.circular.image( data-bind = " attr: { src: img }")
				.middle.aligned.content( style = "margin-left: 0.5rem;")
					h3.ui.header( data-bind = " text: title" )
				.input( style = " padding-left: 2rem; padding-right: 4rem;" )
					.ui.right.fluid.icon.input.big
						input( type="text" style = "color: rgba ( 0,0,0,0.5 ); border-radius: 500rem; " data-bind = " value: $parent.searchText" )
						i.icon.link.search.circular.blue( style = "top: .21em;")

			<!-- /ko -->
		.chatArea( data-bind = "foreach: chatData " style = "padding-top: 5rem; padding-bottom: 7rem; transform: scaleY(-1); padding-left: 2rem; padding-right: 2rem;")
			.item( data-bind = "css: { 'item-margin-right' : isSelf }" style = "transform: scaleY(-1); width: 70%; padding-top: 1rem;")
				<!-- ko if: textContent -->
				.ui.segment.inverted( data-bind = " css: { kloak_background_blue: isSelf, kloak_background_teal: !isSelf }" style = "border-radius: 1rem;")
					p.AppListHeader( data-bind = "text: textContent " style = "padding-bottom: 1rem;" )
				<!-- /ko -->
				<!-- ko if: create() -->
				.deliveredArea( style = "margin-top: -1rem; font-size: small;" )
					p.kloak_color_lightGrey( data-bind = "style: { 'text-align': isSelf ? 'right': 'left' }, text: isSelf ? $parent.information.delivered[ $root.languageIndex()] + ' '+ create().toLocaleTimeString() : create().toLocaleTimeString() " )
				<!-- /ko -->
		.ui.bottom.fixed.menu.borderless
			.item( style = "width: 100%;" )
				.input
					.ui.right.input.big.icon( style = "width: 100%;" )
						input( type = "text" style = "color: rgba ( 0,0,0,0.5 );" data-bind = "value: textInput" )
						i.teal.play.icon.chevron.circular.link( data-bind = "click: snedMessage " style = "top: .21em;")

	<!-- /ko -->

	<!-- /ko  -->
