#daggr
	<!-- ko with: appScript -->
		<!-- ko ifnot: currentChat -->
			<!-- ko if : topMenu -->
				.ui.top.fixed.menu.borderless( style="height: 5rem;")
					<!-- ko if : showTopMenuHomeButton -->
						.item
							button.ui.circular.icon.button( data-bind = "click: _exit ")
								i.icon.home
					<!-- /ko  -->

					.item( style ="margin-left: -1.5rem;")
						<!-- ko if : userData() -->
							img.mini.ui.image.circular.link.image-link( data-bind="click: () => { showUserInfor ( true ); searchResultUsers([])}, attr: { src: userData().keyInfo.image }")
						<!-- /ko  -->
						<!-- ko if : showUserInfor -->
						.content( style = "padding-left: 0.5rem;")
							.ui.transparent.big.input
								input( data-bind = "value: $root.keyPair().publicKeyID " type="text" style = "color: #2185d0!important;")
						<!-- /ko  -->
					
					<!-- ko if : showTopMenuInputField -->
						<!-- ko if : showUserInfor -->
						.ui.right.menu.borderless( data-bind = "click: () => { showUserInfor ( false )}" style = "padding-right: 4rem;border: unset;box-shadow: 0 0 black;border-radius: unset;")
							.item
								button.ui.circular.icon.button
									i.icon.search.blue
						<!-- /ko  -->
						<!-- ko ifnot : showUserInfor -->
							.item.input( style="width: 100%;padding-left: 0;" )
								form.ui.form( data-bind="event: { 'submit': search_form } " style = "width: 100%; padding-right: 12rem;" )
									.field.ui.fluid.input.big( data-bind = "css: { 'action': !searchInputText_searching(), 'loading icon disabled': searchInputText_searching(), error: searchInputTextError }" style = "width: 100%;" )
										input( type = "text" data-bind = "value: searchInputText, attr: { placeholder: searchInputPlaceholder [ $root.languageIndex() ] }" style = "color: rgba ( 0,0,0,0.5 );" )
										<!-- ko ifnot : searchInputText_searching () -->
										button.ui.blue.button( type="submit" )
											i.icon.search.large
										<!-- /ko  -->
										<!-- ko if : searchInputText_searching () -->
											i.icon.search( data-bind = "css: {'icon-background-response-local-server': searchInputText_searching() === 2, 'icon-background-response-Kloak-server': searchInputText_searching() === 3 }")
										<!-- /ko  -->
										
									<!-- ko if : searchInputTextError -->
										.field
											.ui.red.segment
												p( data-bind="text: messageBoxDefine [ errorMessageIndex() ][ $root.languageIndex() ]")
												.ui.button( data-bind = " text: infoDefine[$root.languageIndex()].twitter.close, click: () => { searchInputTextError (false )}")
									<!-- /ko  -->
						<!-- /ko  -->
					<!-- /ko  -->
			<!-- /ko  -->

			<!-- ko if: searchResultUsers().length -->
				.ui.unstackable.cards.searchItems( style = "margin-top: 6rem!important;max-width: 44em!important;" )
					<!-- ko foreach: searchResultUsers -->
						.card
							.content
								img.right.floated.tiny.ui.image.circular( data-bind="attr: { src: image }")
								.header( data-bind = " text: nickName " )
								.meta
									
									p( data-bind = "text: email" )
									p( data-bind = "text: id" style="margin-bottom: 0;")
								.description
									textarea.searchResultUsersTextarea( data-bind = "  value : bio" rows = "3" readOnly disabled style = " width: 100%; resize: none; padding: 0.5rem; overflow: hidden; color: grey; border: none;text-align-last: center;background-color: white;" )
								<!-- ko if: id !== $parent.myKeyID -->
								.extra
									button.ui.primary.button( data-bind = "click: function() { $parent.addUser($index()) }, text: $parent.addUserInfo[ $root.languageIndex()]")
								<!-- /ko  -->
					<!-- /ko  -->
			<!-- /ko  -->

			<!-- ko if: !searchResultUsers().length && currentUser().length -->
				.ui.unstackable.cards.searchItems( style = "margin-top: 6rem!important;max-width: 44em!important;" )
					<!-- ko foreach: currentUser -->
						.card
							.content
								img.right.floated.tiny.ui.image.circular.image-link( data-bind="click: () => { $parent.startChat ($index()) }, attr: { src: image }")
								.header( data-bind = " text: nickName " )
								.meta
									
									p( data-bind = "text: email" )
									p( data-bind = "text: id" style="margin-bottom: 0;")
								.description
									textarea.searchResultUsersTextarea( data-bind = "  value : bio" rows = "3" readOnly disabled style = " width: 100%; resize: none; padding: 0.5rem; overflow: auto; color: grey; border: none;text-align-last: center;background-color: white;" )
								<!-- ko if: notice -->
									.floating.ui.red.circular.label( data-bind = "text: notice()" style = "font-size: large;")
								<!-- /ko  -->

					<!-- /ko  -->
			<!-- /ko -->
		<!-- /ko -->


		<!-- ko if: currentChat -->
			<!-- ko with: currentChat -->
				.currentMessage.searchItems
					.ui.top.fixed.menu.borderless
						.item
							button.circular.ui.icon.button.blue( data-bind = "click: function () { $parent.currentChat (null)}")
								i.icon.close
						.item( style = "width: 100%; height: 5.33rem;padding-right: 6rem;" )
							img.ui.tiny.circular.image( data-bind = " attr: { src: image }" style = "width: 55px;")
							.middle.aligned.content( style = "margin-left: 0.5rem;")
								h3.ui.header( data-bind = " text: nickName" )
							.input( style = " padding-left: 2rem; padding-right: 4rem;" )
								.ui.right.fluid.icon.input.big
									input( type="text" style = "color: rgba ( 0,0,0,0.5 ); border-radius: 500rem; " data-bind = " value: $parent.searchText" )
									i.icon.link.search.circular.blue( style = "top: 0.25rem;right: .37rem;")


					#chatArea.chatArea( data-bind = "click: ()=> {  $parent.showInputMenu() ?  $parent.resetYoutubeSearchData() : null }" style = "padding-top: 98px; padding-bottom: 7rem; transform: scaleY(-1); padding-left: 2rem; padding-right: 2rem;")
						<!-- ko if: chatData -->
							
							<!-- ko if: typing -->
								.typeing
									.svg
										svg( xmlns="http://www.w3.org/2000/svg" style="display:block;" width="45px" height="30px" viewBox="0 0 110 70")
											circle( cx="18" cy="54" r="14" fill="#dddddd")
												animate( attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="54;46;54;54" keyTimes="0;0.17;0.34;1" dur="1.36986301369863s" begin="-0.46575342465753417s")
											circle( cx="55" cy="54" r="14" fill="#dddddd" )
												animate( attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="54;46;54;54" keyTimes="0;0.17;0.34;1" dur="1.36986301369863s" begin="-0.3105022831050228s")
											circle( cx="90" cy="54" r="14" fill="#dddddd" )
												animate( attributeName="cy" calcMode="spline" keySplines="0 0.5 0.5 1;0.5 0 1 0.5;0.5 0.5 0.5 0.5" repeatCount="indefinite" values="54;46;54;54" keyTimes="0;0.17;0.34;1" dur="1.36986301369863s" begin="-0.1552511415525114s")
							<!-- /ko -->

							<!-- ko foreach: chatData, completeOn: 'render', descendantsComplete: resizeInputTextArea -->
							.item( data-bind = "event: { doubletap: () => { $parents[1].showAddedAction($index()) }, press: () => { $parents[1].showAddedAction($index()) }}, css: { 'item-margin-right' : isSelf }" style = "transform: scaleY(-1); width: 70%; padding-top: 1rem;")
								<!-- ko if: textContent -->
									.ui.padded.segment( data-bind = " attr: { 'id': uuid }, style: { 'color': isSelf ? 'white' : 'black', 'padding': youtubeObj ? '0px' : '0.6rem'}, css: { kloak_background_DarkBlue_waiting: isSelf && !delivered(), kloak_background_lightPlusGrey: !isSelf, kloak_background_DarkBlue: isSelf && delivered(), daggerMessageLeftPoint: !isSelf && !youtubeObj, daggerMessageRightPoint: isSelf && !youtubeObj }" style = " border-radius: 0.7rem; border-width: 0;box-shadow: none;")

										<!-- ko template: { name: 'messgae_content' } --><!-- /ko -->

								<!-- /ko -->
								<!-- ko if: mediaData -->
									<!-- ko if: /^data\:image\//.test ( mediaData ) -->
										.ui.medium.image
											img( data-bind = " attr: { src: mediaData }" style="border-radius: 1rem;")
									<!-- /ko -->
								<!-- /ko -->
								<!-- ko if: isSelf && delivered() -->
									.deliveredArea( style = "margin-left: 1rem; font-size: small; margin-right: 1rem;" )
										p.kloak_color_lightGrey( data-bind = "style: { 'text-align': isSelf ? 'right': 'left' }, text: isSelf ? $parents[1].information.delivered[ $root.languageIndex()] + ' '+ delivered().toLocaleTimeString() : delivered().toLocaleTimeString() " )
								<!-- /ko -->

							<!-- /ko -->
							
						<!-- /ko -->
					

			<!-- /ko -->
			#daggr_bottomInputArea.ui.bottom.fixed.menu.borderless
						
				<!-- ko if: showInputMenu() -->
					<!-- ko ifnot: showYoutube() -->
						.item.selectMenu( style = "width: 100%;")
							input#daggr_imageInput( onchange = "_view.appScript().imageSearch( this )" type = "file" accept = 'image/gif,image/jpeg,image/jpg,image/png' style="opacity:0; display: none;" )
							button.ui.circular.icon.button.olive( data-bind = "click: () => { document.getElementById('daggr_imageInput').click() }, clickBubble: false" style = "margin-right: 0.5rem;")
								i.icon.image.outline
							button.ui.circular.icon.button.orange( data-bind = "click: () => {  }, clickBubble: false" style = "margin-right: 0.5rem;")
								i.icon.smile.outline
							button.ui.circular.icon.button.red( data-bind = "click: () => { showYoutube( true ) }, clickBubble: false" style = "margin-right: 0.5rem;")
								i.icon.youtube
					<!-- /ko -->
					<!-- ko if: showYoutube() -->
						form.form.ui.form( data-bind="event: { 'submit': youtubeSearch } " style = "width: 100%; padding: 1rem;" )
							.field.ui.fluid.input.big( data-bind = "css: { 'action': !searchInputText_searching(), 'loading icon disabled': searchInputText_searching(), error: searchInputTextError }" style = "width: 100%;" )
								input( type = "text" data-bind = "textInput: searchInputText, attr: { placeholder: infoDefine[ $root.languageIndex() ].coSearch.searchInputPlaceholder }" style = "color: rgba ( 0,0,0,0.5 );" )
								
								<!-- ko ifnot : searchInputText_searching () -->
									button.ui.youtube.button( type="submit" )
										i.icon.search.large
								<!-- /ko  -->

								<!-- ko if : searchInputText_searching () -->
									i.icon.search( data-bind = "css: {'icon-background-response-local-server': searchInputText_searching() === 2, 'icon-background-response-Kloak-server': searchInputText_searching() === 3 }")
								<!-- /ko  -->
							.field( data-bind=" style: {'max-height': window.innerHeight/2 + 'px'} " style="overflow-y: scroll;")
								<!-- ko template: { name: 'message_youtube_search' } --><!-- /ko -->
					<!-- /ko -->
				<!-- /ko -->


				
				<!-- ko ifnot: showInputMenu() -->
					.item( style = "width: 100%;" )
						.input
							.ui.right.input.big.icon( style = "width: 100%;" )
								
								<!-- ko ifnot: imageSource() -->
									textarea#daggrInput.daggrInputTextarea( style = "color: rgba ( 0,0,0,0.5 );padding: 1rem; " data-bind = " hasFocus: getFocus, textInput: textInput" rows="1" )
								<!-- /ko -->

								<!-- ko if: imageSource() -->
									.image( style="padding: 1rem;")
										img.ui.small.image( data-bind = "attr: { src: imageSource() }")
										button.ui.circular.google.plus.icon.button( data-bind = "click: () => { imageSource(''); showSendBottom( false )}" style="position: absolute; top: -5px;left: -5px;")
											i.icon.times
								<!-- /ko -->

								<!-- ko if: showSendBottom() -->
									i.icon.link
										lottie-player( data-bind = "click: () => { snedMessage() }, clickBubble: false" src="/images/lottie/39599-sendMessage.json" background="transparent" style="width: 120px; height: 120px; margin-left: -35px; margin-top: -35px;"  loop autoplay speed="1")
							
								<!-- /ko -->

								<!-- ko ifnot: showSendBottom() -->
									i.icon.link
										lottie-player( data-bind = "click: () => {showInputMenu( true ) }, clickBubble: false" src="/images/lottie/8467-app.json" background="transparent" style="width: 80px; height: 70px; margin-top: -10px; margin-left: -10px;"  loop autoplay speed="1")
								<!-- /ko -->
				<!-- /ko -->
			input#video_Input( onchange = "_view.appScript().videoInput( this )" type = "file" accept = 'video/mp4' style="opacity:0; display: none;" )
		<!-- /ko -->
	<!-- /ko -->

block jumbotron2
	include ../Shared/daggr_template.pug
	script( src='/scripts/lottie-player.js', type="text/javascript" )