script#messgae_content( type = "text/html" )
	<!-- ko if: textContent -->
		<!-- ko foreach: textContent.split ('\n') -->
			<!-- ko if: /^https?\:\/\//.test ( $data ) -->
				
			<!-- /ko -->
			<!-- ko if: !/^https?\:\/\//.test ( $data ) -->
				p( data-bind = "text: $data || ' '" style= "min-height: 1.4285em; margin:0px;")
			<!-- /ko -->
		<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: youtubeObj -->
		<!-- ko with: youtubeObj -->
			.ui.header( data-bind = "attr: { 'id': $parent.uuid + '_title' }" style = "font-size: unset; color: white;text-align: center;padding-top: 0.7rem;")
				<!-- ko text: title --><!-- /ko -->

			<!-- ko if: !showLoading ()-->
				a.image.ui.medium( data-bind = "click:  function() { $parents[2].youtubePlayClick( $index ())}, style: { 'cursor': !showLoading() || showError() || showLoading() === 5 ? 'pointer': 'default' }" style = " width: 100%;" )
					img( data-bind = "attr: { src: img }" style="width: inherit;border-radius: 0 0 0.7rem 0.7rem;")
					<!-- ko if: time && !showLoading () -->
						
						.ui.active.dimmer( style = "background-color: rgba(0,0,0,0);z-index: 10;")
							lottie-player( src="/images/lottie/35035-youtube.json" background="transparent" style="width: 80px; height: 70px; margin-top: -10px; margin-left: -10px;"  loop autoplay speed="1")
						.ui.top.right.attached.label.tiny( data-bind = "text: time " style = " background-color: black; color: white!important; font-weight: bolder; font-family: system-ui; font-style: italic; border-radius: unset;")
					<!-- /ko -->
					<!-- ko if: showLoading () > 0 && showLoading() !== 5 -->
						.ui.active.dimmer( style = " background-color: rgba(0,0,0,.45);z-index: 10;")
							<!-- ko if: showError() -->
								i.icon.exclamation.big.triangle.red
							<!-- /ko -->
							.ui.loader( data-bind = " css: {'icon-background-response-local-server': showLoading () === 2, 'icon-background-response-Kloak-server': showLoading () === 3 }")
							
					<!-- /ko -->
					<!-- ko if: !showLoading ()-->
					.content( style = " position: absolute; bottom: 0px; padding: 0.5rem;font-weight: bold;line-height: 1rem; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);")
						.description( style = " color: grey; margin-top: 0px;" )
							
							span( data-bind = "text: description" style = "color: white;font-size: smaller;" )
					<!-- /ko -->
			<!-- /ko -->

			<!-- ko if: showLoading () === 4 -->
				video( data-bind="attr: { 'id': $parent.uuid + '_videoPlay' }" style="width: 100%;border-radius: 0 0 0.7rem 0.7rem;" autoplay type="video/mp4" )
			<!-- /ko -->

			<!-- ko if: showLoading () && showLoading () < 4 -->
				.video( style= "position: relative;")
					video( data-bind = " attr: { src: $parents[2].ad_video_random }" style="width: 100%; border-radius: 0 0 0.7rem 0.7rem;" autoplay loop )
						
					.ui.top.left.attached.label.tiny( style = "border-radius: unset; background-color: #00000050; color: white!important; font-weight: bolder; font-family: system-ui; font-style: italic;") Ad from Kloak.APP
					<!-- ko if: showLoading () === 3 -->
						a.ui.bottom.right.attached.label.tiny( data-bind="click: () => { $parents[2].skipAdclick($index()) }" style = "border-radius: unset; background-color: #00000050; color: white!important; font-weight: bolder; font-family: system-ui; font-style: italic; bottom: 2rem;")
							span Skip Ad
							//-span
								svg( height="100%" version="1.1" viewBox="0 0 36 36" width="100%")
									path.skipSVG( d="M 12,24 20.5,18 12,12 V 24 z M 22,12 v 12 h 2 V 12 h -2 z" )
					<!-- /ko -->
			<!-- /ko -->

				
		<!-- /ko -->
	<!-- /ko -->

script#message_youtube_search( type = "text/html" )
	<!-- ko if: showSearchItemResult -->
		.searchItems.CoContent.content( style="display: block;")
			.ui.items.searchItems
				.totalResults.ui.grey.header
					.sub.header
						span.totalResults1( data-bind = " text: info.totalResults[ $root.languageIndex() ]" )
						span.totalResults2( data-bind = " text: totalSearchItems()" style="margin: 0.5em;" )
						span.totalResults3( data-bind = " text: info.totalResults1[ $root.languageIndex() ]" )
			.ui.unstackable.items( style = "margin-top: 1rem;" )
				<!-- ko foreach: searchItemsArray -->
					.item( style=" margin-bottom: 2rem;" )
						.image.ui.top.aligned( data-bind = "click:  function() { $parents[0].getLinkClick( $index ())}, css: { 'circular': channel || user, 'bordered': user }, style: { 'cursor': !showLoading() || showError() || showLoading() === 5 ? 'pointer': 'default' }" style = " width:150px " )
							img( data-bind = "attr: { src: imageInfo.img }, style: { 'border-radius': playlist ? '0.5rem' : 'unset' }" style="width: inherit;")
							<!-- ko if: user -->
								.ui.active.dimmer( style = "background-color: rgba(0,0,0,0);z-index: 10;")
									i.icon.user.huge( style = "color: rgba(0,0,0,0.4);")
							<!-- /ko -->
							<!-- ko if: imageInfo['videoTime'] -->
								
								.ui.active.dimmer( style = "background-color: rgba(0,0,0,0);z-index: 10;")
									i.icon.youtube.big.red
								.ui.bottom.right.attached.label.tiny( data-bind = "text: imageInfo['videoTime'] " style = " background-color: #313030ff!important; color: white!important;font-weight: bolder;border-radius:unset!important;font-family: system-ui;font-style: italic;")
							<!-- /ko -->
							<!-- ko if: showLoading () > 0 && showLoading() !== 5 -->
								.ui.active.dimmer( style = "background-color: rgba(0,0,0,.45);z-index: 10;")
									<!-- ko if: showError() -->
										i.icon.exclamation.big.triangle.red
									<!-- /ko -->
									.ui.loader( data-bind = "css: {'icon-background-response-local-server': showLoading () === 2, 'icon-background-response-Kloak-server': showLoading () === 3 }")
									
							<!-- /ko -->

						
						.content( style="padding-left: 1rem;")
							.ui.header( data-bind = "style: { 'cursor': !showLoading() || showError() || showLoading() === 5 ? 'pointer': 'default' }, css: { 'kloak_color_DarkBlue': !showLoading(), 'kloak_color_PrimaryTeal': showLoading() > 0, 'kloak_item_ready': showLoading() === 5, 'red': showError() }, click: function() { $parents[0].getLinkClick( $index ())}, attr: { 'id': id + '-urlLink', 'data-content': messageBoxDefine['copyClipboard'][ $root.languageIndex() ] }" style = "font-size: medium;")
								<!-- ko text: title --><!-- /ko -->
							
							.description( style = " color: grey; margin-top: 0px;" )

								
								<!-- ko if: beforeTime -->
									<!-- ko with: beforeTime -->

										<!-- ko if: timeNumber -->
											span( data-bind = "text: timeNumber + ' ' + infoDefine[ $root.languageIndex() ].coSearch.timeUnit[ timeUnit ] + ' - '" style = "font-weight: bolder; color: #906363db;" )
										<!-- /ko -->

										<!-- ko if: time -->
											span( data-bind = "text: infoDefine[ $root.languageIndex() ].coSearch.TimeTolocalTime ( time ) + ' - '" style = "font-weight: bolder; color: #906363db;" )
										<!-- /ko -->

									<!-- /ko -->
								<!-- /ko -->
								
								span( data-bind = "text: description" style = "color: grey" )
				<!-- /ko  -->
			<!-- ko if: nextButtonShowError() === false && moreButton_link_url () -->
				button.ui.large.button( data-bind = "css: { 'loading buttonUnActive': moreResultsButtomLoading() > 0 , 'loadingGetResponse': moreResultsButtomLoading() === 2, 'conetResponse': moreResultsButtomLoading() === 3 }, text: info.moreResults[ $root.languageIndex() ], click: searchNext" style="margin-top: 1em;margin-bottom: 2em;" )
			<!-- /ko -->
			<!-- ko if: nextButtonShowError() -->
				button.ui.large.button.negative( data-bind = " text: messageBoxDefine [ nextButtonShowError()][ $root.languageIndex() ], click: searchNext" style="margin-top: 1em;margin-bottom: 2em;" )
			<!-- /ko -->
	<!-- /ko  -->